<html>
	<head>
		<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v6.1.1/build/ol.js"></script>
        <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v6.1.1/css/ol.css">
	</head>
	<div id="map"></div>
	<script>
        console.log(document.cookie.split(';'));
        var cookieList = document.cookie.split(';');

        console.log(cookieList.length);

        var json = JSON.parse(localStorage.getItem('device'));
        console.log("json");
        console.log(json);


		var map = new ol.Map({
			target: 'map',
			view: new ol.View({
				center: ol.proj.fromLonLat([119.545322, 26.201018]),
				zoom: 10
			})
		});
	 
		var baseSource = new ol.source.TileWMS({
			url: 'http://youkaiyu.com:8080/geoserver/wms',
			params: {
				'LAYERS': 'fuzhou:fuzhou',
				'TILED': true,
				'STYLES':'fuzhou:aaaa'
			},
			serverType: 'geoserver'
		});
	 
		var baseLayer = new ol.layer.Tile({
			source: baseSource
		});
		
		map.addLayer(baseLayer);

		//此示例创建10000个要素
        var count = json.length;
        var features = new Array(count);
		// var e = 4500000;
		console.log(ol.proj.fromLonLat([119.30, 26.08]));
        for(var i = 0; i < count; i++){
            var coordinates = [];
            coordinates.push(json[i].lng);
            coordinates.push(json[i].lat);
            console.log(coordinates);
            features[i] = new ol.Feature({
                geometry: new ol.geom.Point(ol.proj.fromLonLat(coordinates)),
                name: json[i].cus
            });
            features[i].setId(json[i].cus);
        }
        console.log(features);
        
        //矢量要素数据源
        var source = new ol.source.Vector({
			features: features
        });
        //聚合标注数据源
        var clusterSource = new ol.source.Cluster({
            distance: 40,               //聚合的距离参数，即当标注间距离小于此值时进行聚合，单位是像素
            source: source              //聚合的数据源，即矢量要素数据源对象
        });
        //加载聚合标注的矢量图层
        var styleCache = {};                  //用于保存特定数量的聚合群的要素样式
        
        //不用聚合会卡死，用聚合又无法确定设备ID
        var clusters = new ol.layer.Vector({
			source: clusterSource,
            style: function (feature, resolution){
                var size = feature.get('features').length;          //获取该要素所在聚合群的要素数量
                // var style = styleCache[size];
                var style = [];
                // console.log(feature.get('features'));
                for(var i = 0 ; i < feature.get('features').length; i++){
                    // console.log(feature.get('features')[i]);
                    style.push(
                        new ol.style.Style({
                            image: new ol.style.Circle({
                                radius: 21,
                                stroke: new ol.style.Stroke({
                                    color: '#fff'
                                }),
                                fill: new ol.style.Fill({
                                    color: '#3399CC'
                                })
                            }),
                            text: new ol.style.Text({
                                text: feature.get('features')[i].id_,
                                fill: new ol.style.Fill({
                                    color: '#fff'
                                }),
                                font:"5px"
                            })
                        })
                    )
                }

                // if(!style){
                //     style = [
                //         new ol.style.Style({
                //             image: new ol.style.Circle({
                //                 radius: 10,
                //                 stroke: new ol.style.Stroke({
                //                     color: '#fff'
                //                 }),
                //                 fill: new ol.style.Fill({
                //                     color: '#3399CC'
                //                 })
                //             }),
                //             text: new ol.style.Text({
                //                 text: feature.get('features')[0].id_,
                //                 fill: new ol.style.Fill({
                //                     color: '#fff'
                //                 })
                //             })
                //         })
                //     ];
                //     styleCache[size] = style;
                // }
                return style;
            }
        });
        map.addLayer(clusters);
	</script>
</html>